{%extends 'layouts/layout.html'%}

{%block head%}
<title>Halaman about</title>
{%endblock%} 
{%block body%}

<div class="container">
    <div class="jumbotron mt-4">
      <h1 class="display-4 text-black">About Us</h1>
      <p class="text-center text-black">

        Selamat datang di Hallo Dek, toko pakaian eksklusif yang berlokasi di kota Yogyakarta. Kami bangga menjadi bagian dari komunitas lokal dan berkomitmen untuk menyediakan pakaian berkualitas tinggi untuk pelanggan kami.
        
        Sejak berdiri, kami telah berfokus pada penawaran pakaian yang tidak hanya modis, tetapi juga unik dan eksklusif. Kami percaya bahwa pakaian adalah bentuk ekspresi diri, dan kami berdedikasi untuk membantu pelanggan kami menemukan gaya mereka yang unik.
        
        Koleksi kami mencakup berbagai merek dan desainer, baik lokal maupun internasional, yang dipilih dengan cermat untuk memastikan bahwa kami menawarkan pakaian terbaik. Dari pakaian sehari-hari hingga pakaian formal, kami memiliki sesuatu untuk setiap kesempatan.
        
        Namun, apa yang benar-benar membedakan kami adalah komitmen kami terhadap kualitas. Setiap item dalam koleksi kami dipilih dengan cermat untuk memastikan bahwa kami hanya menawarkan produk yang memenuhi standar kualitas tertinggi. Kami percaya bahwa pelanggan kami pantas mendapatkan yang terbaik, dan itulah yang kami berikan.
  
        Terima kasih telah memilih Hallo Dek. Kami berharap dapat membantu Anda menemukan pakaian sempurna untuk Anda.
        </p>
    </div>
</div>

{%endblock%}
