{%extends 'layouts/layout.html'%}

{%block head%}
<title>Halaman about</title>
{%endblock%} {%block body%}
<div class="container-fluid">
  
  <div class="jumbotron mt-4 container">
    <h1 class="display-4">Contact Us</h1>
    <p class="text-center">

      Kami selalu senang mendengar dari Anda. Jika Anda memiliki pertanyaan, komentar, atau saran, jangan ragu untuk menghubungi kami melalui salah satu metode berikut:
      
        Alamat Toko:
      Jalan Malioboro No. 123, Yogyakarta, Indonesia
      
        Jam Operasional:
      Senin - Sabtu: 10:00 - 21:00
      Minggu: 12:00 - 18:00
      
        Telepon:
      +62 123 456 7890
      
        Email:
      HalloDek@gmail.com
      
      Anda juga bisa mengunjungi kami di media sosial:
      - Facebook: HalloDek
      - Instagram: HalloDek
      - Twitter: HalloDek
      
      Terima kasih telah memilih Hallo Dek. Kami berharap dapat melayani Anda.
      </p>
  </div>
</div>
{%endblock%}
