{% extends 'layouts/layout.html' %}
{% block head %}
<title>{{ product[2] }} Detail</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="justify-content-center align-items-center">
    <div class="row mt-3 justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-md-4 text-center">
        {% if product %}
          <h2>{{ product[2] }} Detail</h2>
          <img
            src="{{ url_for('static', filename='uploads/' + product[6]) }}"
            class="card-img-top"
            alt="Product Image"
          />
        {% else %}
          <h2>Product Not Found</h2>
        {% endif %}
      </div>
      <div class="col-md-4">
        {% if product %}
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">{{ product[2] }}</h5>
              <p class="card-text">{{ product[3] }}</p>
              <p>Size: {{ product[5] }}</p>
              <!-- Add to Cart button -->
              <form method="post" action="{{ url_for('add_to_cart', product_id=product[0]) }}">
                <button type="submit" class="btn btn-primary">Add to Cart</button>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
